<div class="card mb-3"
     style="max-width: fit-content; max-height: fit-content;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{coupon.imageURL}}"
                 alt="picture of coupon should be here"
                 class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title">{{coupon.title}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">price: {{price}}$</h6>
                <p class="card-text">description: {{coupon.description}}</p>
                <p class="card-text">amount of coupons issued: {{coupon.amount}}</p>
                <p class="card-text"><small class="text-muted">date issued: {{startDate}}</small></p>
                <p class="card-text"><small class="text-muted">date expires: {{endDate}}</small></p>
                <a type="button"
                   class="btn btn-success"
                   (click)="onEdit()">Edit</a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <button type="button"
                class="btn btn-danger"
                (click)="deleteClickedToggle()">Delete</button>
    </div>
</div>
<div class="row"
     *ngIf="deleteClicked">
    <div class="alert alert-danger">
        <h6>Deleting a coupon is permanent!</h6>
        <h6>Are you certain you want to continue?</h6>
        <button class="btn btn-secondary"
                (click)="deleteClickedToggle()">Cancle</button>
        <button class="btn btn-danger"
                (click)="onDelete()">Delete</button>
    </div>
</div>
<hr>