<div *ngIf="couponListEmpty()">
        <h3>Sorry, no coupons to purchase!</h3>
</div>
<div class="btn-group mr-3"
     *ngIf="!couponListEmpty()">
        <div class="btn-group"
             ngbDropdown
             role="group"
             aria-label="Button group with nested dropdown">
                <button class="btn btn-success"
                        ngbDropdownToggle>Coupon list</button>
                <div class="dropdown-menu"
                     ngbDropdownMenu>
                        <button class="dropdown-item"
                                (click)="onClickCouponsAbc()">a-z</button>
                        <button class="dropdown-item"
                                (click)="onClickCouponsStartDate()">date issued</button>
                        <button class="dropdown-item"
                                (click)="onClickCouponsEndDate()">date expires</button>
                        <button class="dropdown-item"
                                (click)="onClickCouponsPriceAscending()">price low-high</button>
                        <button class="dropdown-item"
                                (click)="onClickCouponsPriceDescending()">price high-low</button>
                </div>
        </div>
</div>
<hr>
<div class="row">
        <div class="col-12">
                <app-customer-coupon-item *ngFor="let c of coupons; let i = index"
                                          [coupon]="c"
                                          [id]="i"></app-customer-coupon-item>
        </div>
</div>
